.vscode/**
node_modules/**
scripts/**
pnpm-lock.yaml
pnpm-workspace.yaml
*.vsix
*.tar.gz
*.gz
.gitignore
.gitignore.tmpcheck
assets/back*
assets/front*
assets/lay*
assets/image.jpg
assets/image-512a.png
